# Deployment Environment Configuration
# Add specific PORT overrides here if not using the default 5000.
PORT=5000

# Since we use SQLite, we don't have a DATABASE_URL.
# Since we omit Authentication, we don't have a JWT_SECRET.
